.body {
    margin: 0;
}

.container{
    margin: 0 140px;
}

.banner-content  {
    display: flex;
    justify-content: center;
}


.banner-text h1 {
    color:#4e4e4e;
    font-size:85px;
    font-family:Montserrat Alternates;
}

.banner-text p{
    font-size:20px;
    font-family:Montserrat;
}


.btn{
    background-color:#f6a8b5;
    height:47px;
    width:220px;
    border-radius:10px;
    border: none;
    color: #fff;
    font-size:20px;
    font-family: Montserrat Alternates;

}

.advantages{
    margin-top: 100px;
}

.advantages-list{
    display: flex;
    justify-content: center;
}

.advantages-text h2 {
    color:#4e4e4e;
    text-align:center;
    font-size:55px;
    font-family:Montserrat Alternates;
    margin: 0;
}

.advantages-img img{
    margin: 0 auto;
}

.advantages-text h3 {
    color:#4e4e4e;
    font-size:20px;
    font-family:Montserrat;
}

.advantages-text p {
    color:#4e4e4e;
    font-size:16px;
    font-family:Montserrat;
}

.advantages-list{
    margin-top: 50px;
}

.advantages-list-item{
    max-width: 350px;
    text-align: center;
}


.services{
    margin-top: 100px;
}

.services-content{
    display: flex;
    justify-content: space-around;
}

.services-text h2 {
    color:#4e4e4e;
    font-size:55px;
    font-family:Montserrat Alternates;
    margin: 0;
}

.services-text p{
    color:#4e4e4e;
    font-size:16px;
    font-family:Montserrat;
    max-width: 436px;
}

.services-btn{
    text-align: end;
}

.services-button {
    background-color:#f6a8b5;
    height:47px;
    width:267px;
    border-radius:10px;
    border: none;
    color: #fff;
    font-size:18px;
    font-family:Montserrat Alternates;
}


.values{
    margin-top: 100px;
}

.values-img{
   text-align: center;
   margin-top: 25px;
   margin-bottom: 0px;
}


.values-image{
    display: flex;
}

.values-img img{
    margin-bottom: 0px;
 }

.values-content{
    background-color: #FBD4DA;
}

.values h2{
    color:#4e4e4e;
    font-size:55px;
    font-family:Montserrat Alternates;
    text-align: center;
    margin: 0;
}

.values p{
    color:#4e4e4e;
    text-align:center;
    font-size:28px;
    font-family:Montserrat;
    padding-top: 50px;
    margin: 0;
}

.doctors{
    margin-top: 100px;
}

.doctors h2{
    color:#4e4e4e;
    font-size:55px;
    font-family:Montserrat Alternates;
    margin: 0;
}

.doctor-name {
    background-color: #FBD4DA;
    width: 565px;
    height: 131px;
    position: absolute;
}

.doctor-name h3{
    color:#4e4e4e;
    font-size:24px;
    font-family:Montserrat Alternates;
    margin-left: 30px;
}

.doctor-name h4{
    color:#4e4e4e;
    font-size:20px;
    font-family:Montserrat;
    margin-left: 30px;
}

.recording{
    margin-top: 100px;
}

.recording h2{
    color:#4e4e4e;
    text-align:center;
    font-size:55px;
    font-family:Montserrat Alternates;
    padding-top: 50px;
    margin: 0;
}

.recording-content{
    display: flex;
    align-items: center;
    justify-content: center;

}


label{
    color:#4e4e4e;
    text-align:left;
    vertical-align:text-top;
    font-size:24px;
    font-family:Montserrat;
}

input{
    height:41px;
    width:612px;
    border-radius:10px;
    border:2px solid #c0c0c0;
    padding: 5px;
    margin: 5px 0;
}

.recording-btn{
    background-color:#f6a8b5;
    height:47px;
    width:220px;
    border-radius:10px;
    border: none;
    color: #fff;
    font-size:24px;
    font-family:Montserrat Alternates;
}

.recording-form{
    margin-top: 25px;
}

.recording-content p{
    color:#4e4e4e;
    font-size:16px;
    font-family:Montserrat;
    width:609px;    
}

.reviews{
    margin-top: 100px;
}

.reviews h2{
    color:#4e4e4e;
    font-size:55px;
    font-family:Montserrat Alternates;
    margin: 0;
    text-align: center;

}

.reviews-name{
    display: flex;   
}

.reviews-name img{
    margin-left: 15px;   
}

.reviews-list{
    display: flex;
}

.reviews-list-item{
    max-width: 300px;
    margin-top: 50px;
    padding: 30px;
}

.reviews-list-item h3{
    max-width: 300px;
    color:#f6a8b5;
    font-size:20px;
    font-family:Montserrat;
    margin: 0;
}

.reviews-list-item p{
    color:#4e4e4e;  
    font-size:20px;
    font-family:Montserrat;
    margin-top: 20px;
}

.review-btn{
    background-image: url('/img/left.svg');
    background-repeat: no-repeat;
    width: 65px;
    height: 70px;
    border: none;
    background-color: transparent;
}

.review-btn-right{
    background-image: url('/img/right.svg');
    background-repeat: no-repeat;
    width: 65px;
    height: 70px;
    border: none;
    background-color: transparent;
}

.reviews-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #FBD4DA;
    margin-top: 100px;
    overflow: hidden;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.footer-info{
    margin-top: 107px;
}

.footer-info h3{
    margin-top: 0;
    color:#4e4e4e;
    font-size:24px;
    font-family:Montserrat;
}

.footer-info p{
    margin-top: 0;
    color:#4e4e4e;
    font-size:20px;
    font-family:Montserrat;
    margin-left: 15px;
    margin-top: 20px;
}

.footer-nav{
    display: grid;
    margin-top: 107px;
}

.map{
    margin-top: 107px;
}

.tel{
    display: flex;
    
}

.email-box{
    display: flex;
}

.adres{
    display: flex;
}

.footer-nav a{
    color:#4e4e4e;
    font-size:20px;
    font-family:Montserrat;
    text-decoration: none;
}

.copyright p{
    color:#4e4e4e;
    font-size:16px;
    font-family:Montserrat;
    text-align: center;
}