.recording{
    margin-top: 100px;
}

.recording h2{
    color:#4e4e4e;
    text-align:center;
    font-size:55px;
    font-family:Montserrat Alternates;
    padding-top: 50px;
    margin: 0;
}

.recording-content{
    display: flex;
    align-items: center;
    justify-content: center;

}

.recording-form{
    margin-top: 25px;
}

.recording-content p{
    color:#4e4e4e;
    font-size:16px;
    font-family:Montserrat;
    width:609px;
    margin-bottom: 30px;
}


.recording-paws {
    position: relative;
    z-index: 1;
    margin-left: -200px; 
}

.recording-paws img{
    margin-right: -380px;
    margin-bottom: -480px;
}