/*sidebar*/

.sidebar{
    max-width: 1416px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
}
.sidebar ul{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}
.sidebar ul li a{
    color: #949393;
    text-decoration: none;
    transition: 0.1s;
}
.sidebar ul li a:hover{
    color: #cccccc;
}
.sidebar ul li a.selectid{
    color: #f6a8b5;
    text-decoration: none;
    transition: 0.1s;
}
.sidebar ul li a.selectid:hover{
    color: #e07486;
    text-decoration: none;
    transition: 0.1s;
}
/*.sidebar*/

/*формы*/
form {
    max-width: 1416px;
}

form input,
form select,
form textarea {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: 2px solid #c0c0c0;
    padding: 8px;
    margin-bottom: 15px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
}

form textarea {
    height: 120px;
}

form input:focus,
form select:focus,
form textarea:focus {
    border-color: #f6a8b5;
    outline: none;
    box-shadow: 0 0 5px rgba(246, 168, 181, 0.5);
}

form input::placeholder,
form select::placeholder,
form textarea::placeholder {
    color: #999;
}

form .error-message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 15px;
}

form .form-group {
    margin-bottom: 20px;
}

form label {
    color: #4e4e4e;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    margin-bottom: 10px;
    display: block;
}

.service-form {
    padding: 30px;
    max-width: 1416px;
    margin: 20px auto;
    font-family: 'Montserrat', sans-serif;
}

.service-form h2 {
    text-align: center;
    color: #4e4e4e;
    font-size: 28px;
    margin-bottom: 20px;
}
/*.формы*/


@media (max-width: 1024px) {
    form label {
        font-size: 18px;
        margin-bottom: 8px;
    }   
    
    .recording-form {
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    form label {
        font-size: 16px;
        margin-bottom: 6px;
    }  

    .recording-form {
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    form label {
        font-size: 14px;
        margin-bottom: 4px;
    } 

    .recording-form {
        margin-top: 10px;
    }
}