/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Добавил для более удобного контроля за размерами элементов */
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

ul {
    list-style: none;

}

a {
    color: #7E7F86;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #25202F;
}

/* Header */
.header_conteiner {
    margin: 0 auto;
    padding: 0;
    max-width: 1400px;
}

.row {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
}

/* Логотип */
.logo {
    display: flex;
    align-items: center;
}

/* Навигация */
.nav {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 26px;
}

.nav a {
    color: #949393;
    text-decoration: none;
    transition: 0.1s;
}

.nav a.selectid {
    color: #f6a8b5;
}

.nav a.selectid:hover {
    color: #ebc6cc;
}

.nav a:hover {
    color: #cccccc;
}

/* Кнопки */
.btn {
    background-color: #f6a8b5;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-family: Montserrat Alternates;
    cursor: pointer;
}

.btn:hover {
    background-color: #f49db6;
}

/* Формы */
label {
    color: #4e4e4e;
    text-align: left;
    vertical-align: text-top;
    font-size: 24px;
    font-family: Montserrat;
}

input {
    height: 41px;
    width: 100%; /* Сделал ширину 100%, чтобы адаптировался к контейнеру */
    border-radius: 10px;
    border: 2px solid #c0c0c0;
    padding: 5px;
    margin: 5px 0;
}

/* Footer */
footer {
    background-color: #FBD4DA;
    margin-top: 100px;
    overflow: hidden;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-info {
    margin-top: 107px;
}

.footer-info h3 {
    margin-top: 0;
    color: #4e4e4e;
    font-size: 24px;
    font-family: Montserrat;
}

.footer-info a {
    color: #4e4e4e;
    font-size: 20px;
    font-family: Montserrat;
    margin-left: 15px;
    margin-top: 20px;
}

.footer-info a:hover {
    color: #222222;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 107px;
}

.map {
    margin-top: 107px;
}

.tel,
.email-box,
.adres {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
}

.footer-nav a {
    color: #6e6e6e;
    font-size: 20px;
    font-family: Montserrat;
    text-decoration: none;
    transition: 0.1s;
}

.footer-nav a:hover {
    color: #222222;
}

.copyright p {
    color: #4e4e4e;
    font-size: 16px;
    font-family: Montserrat;
    text-align: center;
}

/* Список услуг */
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.services-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #f6a8b5;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.services-list-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.services-list-item a {
    color: #4e4e4e;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
    transition: color 0.2s;
}

.services-list-item a:hover {
    color: #25202F;
}

.services-list-item p {
    color: #4e4e4e;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    text-align: justify;
}

.container,
.conteiner {
    margin: 0 auto;
    max-width: 1400px;
}

h1, h2, h3, p, a {
    font-family: 'Montserrat', sans-serif;
    color: #4e4e4e;
}

/* Заголовок на странице услуг */
.services-h1 h1 {
    margin: 50px 140px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

/* Стили для названия услуги */
.service-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Описание услуги */
.service-caption {
    color: #4e4e4e;
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
}

/* Общие стили для услуги */
.service h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0 20px 0;
}

/* Контент услуги */
.service-content {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: center;
    gap: 20px;
}

.service-img {
    text-align: center;
}

.service-img img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.no-image {
    font-size: 16px;
    color: #ff6a6a;
}

.service-info {
    flex: 2;
    max-width: 600px;
}

.service-info p {
    color: #4e4e4e;
    font-size: 16px;
    margin-top: 15px;
    line-height: 1.6;
    text-align: justify;
}

/* Цена услуги */
.service-price {
    font-size: 20px;
    font-weight: bold;
    color: #4e4e4e;
    margin-top: 20px;
}

/* Ссылки */
.services-list-item a {
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.services-list-item a:hover {
    color: #ff4c97;
}

.services-list-item p {
    color: #4e4e4e;
    font-size: 16px;
    margin-top: 15px;
}

/* Футер */
.service-footer {
    text-align: center;
    margin-top: 40px;
}

/* Медиазапросы */
@media (max-width: 1024px) {
    .services-list-item a {
        font-size: 18px;
    }

    .services-list-item p {
        font-size: 16px;
    }

    .services-list-item {
        padding: 20px;
        width: 190px;
        margin: 0 25px 25px 0;
    }

    .row {
        margin-top: 10px;
        column-gap: 16px;
    }

    .logo {
        width: 60px;
    }

    .nav {
        font-size: 16px;
        gap: 24px;
    }

    .btn {
        font-size: 18px;
        padding: 8px 13px;
    }

    footer {
        margin-top: 90px;
    }

    .footer-info {
        margin-top: 50px;
    }

    .footer-info h3 {
        font-size: 22px;
    }

    .footer-info a {
        font-size: 18px;
        margin-left: 12px;
        margin-top: 20px;
    }

    .footer-nav {
        gap: 25px;
        margin-top: 50px;
    }

    .map {
        margin-top: 50px;
    }

    .footer-nav a {
        font-size: 18px;
    }

    .copyright p {
        font-size: 14px;
    }

    .services-h1 h1 {
        margin: 40px 120px 40px 120px;
        font-size: 34px;
    }

    .service-name {
        font-size: 18px;
    }

    .service-caption {
        font-size: 14px;
        margin-top: 15px;
    }

    .service-info {
        margin-right: 40px;
    }

    .service-info p {
        font-size: 14px;
        margin-top: 15px;
        max-width: 900px;
    }

    .services-list-item a {
        font-size: 18px;
    }

    .services-list-item p {
        font-size: 14px;
        margin-top: 15px;
    }

    .service h1 {
        font-size: 34px;
    }

    .service-info {
        margin-right: 0;
    }

    .service-img img {
        width: 550px;
    }

    .map {
        width: 100%;
        overflow: hidden;
    }

    .map script {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 767px) {
    .container,
    .conteiner {
        margin: 0 90px;
        max-width: 767px;
    }

    .services-list-item a {
        font-size: 16px;
    }

    .services-list-item p {
        font-size: 14px;
    }

    .services-list-item {
        padding: 15px;
        width: 160px;
        margin: 0 20px 20px 0;
    }

    .row {
        column-gap: 14px;
    }

    .logo {
        width: 50px;
    }

    .nav {
        font-size: 14px;
        gap: 22px;
    }

    .btn {
        font-size: 16px;
        padding: 6px 11px;
    }

    footer {
        margin-top: 80px;
    }

    .footer-info {
        margin-top: 40px;
    }

    .footer-info h3 {
        font-size: 20px;
    }

    .footer-info a {
        font-size: 16px;
        margin-left: 10px;
        margin-top: 18px;
    }

    .footer-nav {
        gap: 20px;
        margin-top: 45px;
    }

    .map {
        margin-top: 45px;
    }

    .footer-nav a {
        font-size: 16px;
    }

    .copyright p {
        font-size: 12px;
    }

    .services-h1 h1 {
        margin: 30px 100px 30px 100px;
        font-size: 32px;
    }

    .service-name {
        font-size: 16px;
    }

    .service-caption {
        font-size: 12px;
        margin-top: 10px;
    }

    .service-info {
        margin-right: 30px;
    }

    .service-info p {
        font-size: 12px;
        margin-top: 10px;
        max-width: 800px;
    }

    .services-list-item a {
        font-size: 16px;
    }

    .services-list-item p {
        font-size: 12px;
        margin-top: 10px;
    }

    .service h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .service-img img {
        width: 300px;
        margin-top: 10px;
    }
}

@media (max-width: 575px) {
    .footer-info,
    .footer-nav {
        margin: auto;
        text-align: center;
        padding: 20px 0;
    }
}

@media (max-width: 480px) {
    .container,
    .conteiner {
        margin: 0 60px;
        max-width: 480px;
    }

    .services-list-item a {
        font-size: 14px;
    }

    .services-list-item p {
        font-size: 12px;
    }

    .services-list-item {
        padding: 15px;
        width: 140px;
        margin: 0 5px 5px 0;
    }

    .row {
        column-gap: 14px;
    }

    .logo {
        width: 40px;
    }

    .nav {
        font-size: 12px;
        gap: 20px;
    }

    .btn {
        font-size: 14px;
    }

    footer {
        margin-top: 60px;
    }

    .footer-info {
        margin-top: 35px;
    }

    .footer-info h3 {
        font-size: 18px;
    }

    .footer-info a {
        font-size: 14px;
        margin-left: 8px;
        margin-top: 16px;
    }

    .footer-nav {
        gap: 18px;
        margin-top: 40px;
    }

    .map {
        margin-top: 40px;
    }

    .footer-nav a {
        font-size: 14px;
    }

    .copyright p {
        font-size: 12px;
    }

    .footer-info {
        margin: auto;
        text-align: center;
        padding: 10px 0;
    }

    .footer-nav {
        text-align: center;
        padding: 10px 0;
    }

    .service h1 {
        font-size: 24px;
    }

    .services-h1 h1 {
        margin: 25px 80px 25px 80px;
        font-size: 28px;
    }

    .service-name {
        font-size: 14px;
    }

    .service-caption {
        font-size: 10px;
        margin-top: 8px;
    }

    .service-info {
        margin-right: 20px;
    }

    .service-info p {
        font-size: 10px;
        margin-top: 8px;
    }

    .services-list-item a {
        font-size: 14px;
    }

    .services-list-item p {
        font-size: 10px;
        margin-top: 8px;
    }

    .service-info {
        margin-right: 0;
    }

    .service-img img {
        width: 280px;
        margin-top: 8px;
    }
}
