.values{
    margin-top: 100px;
}

.values-img{
   text-align: center;
}

.values-info{
    max-width: 900px;
}

.values-text{
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}


.values h2{
    color:#4e4e4e;
    font-size:55px;
    font-family:Montserrat Alternates;
    text-align: center;
    margin: auto;
    max-width: 980px;
}

.values-content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    margin: 50px 0;
}

.values p{
    color:#4e4e4e;
    font-size:16px;
    font-family:Montserrat;
    font-weight: 500;
    margin-left: 30px
}

.slideshow-container {
    overflow: hidden; 
  }
  
.slideshow-image {
  display: none;
}
  
.slideshow-image.active {
    display: block; 
    transition: opacity 1s ease-in-out; 
}

@media (max-width: 1024px) {
    .values h2 {
        font-size: 50px; 
    }

    .values-text {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .values-text img{
        width: 45px;
    }

    .values-content {
        margin: 30px 0;
    }

    .values-img img{
        width: 450px;
    }
    
}

@media (max-width: 767px) {
    .values {
        margin-top: 80px;
    }

    .values h2 {
        font-size: 35px;
      }

    .values-text {
        margin-bottom: 28px;
    }

    .values-content {
        margin: 28px 0;
        flex-wrap: wrap;
    }

    .values-text img{
        width: 40px;
    }

    .values p {
        font-size: 14px;
        margin-left: 20px;
    }

    .values-img img{
        width: 300px;
    }  
}


@media (max-width: 480px) {
    .values {
        margin-top: 60px;
    }

    .values h2 {
        font-size: 24px;
      }

    .values-text {
        margin-bottom: 20px;
    }

    .values-content {
        margin: 20px 0;
    }

    .values-text img{
        width: 35px;
    }

    .values p {
        font-size: 12px;
        margin-left: 15px;
    }

    .values-img img{
        width: 200px;
    }
}
