.values{
    margin-top: 100px;
}

.values-img{
   text-align: center;
   margin-top: 25px;
   margin-bottom: 0px;
}

.values-text{
    display: flex;
    align-items: flex-end;
}


.values{
    background-color: #FBD4DA;
}

.values h2{
    color:#4e4e4e;
    font-size:55px;
    font-family:Montserrat Alternates;
    text-align: center;
    padding-top: 50px;
}

.values-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.values p{
    color:#4e4e4e;
    text-align:center;
    font-size:28px;
    font-family:Montserrat;
    padding-top: 50px;
    margin-left: 30px
}
