.clinic{
    margin-top: 100px;
}

.clinic h2{
    color:#4e4e4e;
    font-size:55px;
    font-family:Montserrat Alternates;
    margin: 0;
    text-align: center;
}
.clinic p{
    text-align: center;
    margin-top: 15px;
    font-size: 24px;
}

.clinic-photos{
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
    position: relative; 
    z-index: 1; 
    max-height: 424px; 
}

.gallery__photo-previews{
    display: grid;
    margin-left: 50px;
    gap: 16px;
}

.clinic-content-wrapper {
    position: relative; 
}

.paws-background {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    margin-right: 100px;
    margin-top: 100px;
}

@media (max-width: 1024px) {
    .clinic h2 {
        font-size: 50px; 
    }

    .clinic-photos{
        margin: 35px 0 35px 0;  
    }

    .gallery__photo-full img{
        width: 450px;
    }

    .gallery__photo-previews img{
        width: 170px;
    }

    .gallery__photo-previews {
        margin-left: 40px;
    }

    .paws-background {
        width: 450px;
        margin-right: -140px;
    }
    
}


@media (max-width: 767px) {
    .clinic {
        margin-top: 80px;
    }

    .clinic h2 {
        font-size: 35px;
    }

    .clinic-photos {
        margin: 25px 0 25px 0;
    }

    .gallery__photo-full img{
        width: 300px;
    }

    .gallery__photo-previews img{
        width: 120px;
    }

    .gallery__photo-previews {
        margin-left: 10px;
        gap: 2px;
    }

    .paws-background {
        width: 340px;
        margin-top: 1px;
        margin-right: -80px;
    }


}


@media (max-width: 480px) {
    .clinic {
        margin-top: 60px;
    }

    .clinic h2 {
        font-size: 24px;
    }

    .clinic-photos {
        margin: 18px 0 18px 0;
    }

    .gallery__photo-full img{
        width: 200px;
    }

    .gallery__photo-previews img{
        width: 78px;
    }

    .gallery__photo-previews {
        margin-left: 5px;
        gap: 2px;
    }

    .paws-background {
        width: 320px;
    }
}


  


