.services{
    margin-top: 100px;
}

.services-content{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.services-text h2 {
    color:#4e4e4e;
    font-size:55px;
    font-family:Montserrat Alternates;
    margin: 0;
}

.services-text p{
    color:#4e4e4e;
    font-size:16px;
    font-family:Montserrat;
    max-width: 436px;
}

.services-btn{
    text-align: end;
}

.services-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 1000px;
}

.services-list-item{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #f6a8b5;
    width: 346px;
    margin: 0 40px 40px 0;
}

.service-name{
    color: #4e4e4e;
    font-size: 20px;
    font-family: Montserrat;
}

.service-caption{
    color: #4e4e4e;
    font-size: 16px;
    font-family: Montserrat;
    margin-top: 15px;
}

.services-image {
    position: absolute;
    z-index: -1; 
    top: 0;
    left: 0;
}

.services-image img{
    margin-top: -140px;
    margin-left: -140px;
}

@media (max-width: 1024px) {
    .services-text h2 {
        font-size: 50px; 
        text-align: center;
    }

    .services-text p{
        font-size:16px;
        max-width: 410px;
        margin-top: 15px;
        text-align: center;
    }
    
    .services-list-item{
        padding: 18px;
        width: 280px;
        margin: 0 25px 25px 0;
    }

    .services-text {
        margin-right: 20px;
    }

    .services-image img{
        width: 450px;

    }
    
}

@media (max-width: 767px) {
    .services {
        margin-top: 80px;
    }

    .services-content {
        display: flex;
        flex-wrap: wrap;
    }

    .services-list{
        margin:20px 0px 20px 0;
        gap: 20px;
    }
    

    .services-text h2 {
        font-size: 35px; 
    }

    .services-text p{
        font-size:14px;
        max-width: 410px;
        margin-top: 15px;
    }
    
    .services-list-item{
        padding: 16px;
        width: 200px;
        margin: auto;
    }

    .services-image img{
        width: 340px;
        margin-top: 1px;
    }

    
}


@media (max-width: 480px) {
    .services {
        margin-top: 60px;
    }

    .services-text h2 {
      font-size: 24px;
    }

    .services-list{
        margin:15px 0px 15px 0;
        gap: 15px;
    }

    .services-text p{
        font-size:12px;
        max-width: 410px;
        margin-top: 15px;
    }
    
    .services-list-item{
        padding: 16px;
        width: 140px;
        margin: auto;
    }

    .services-image img{
        width: 320px;
    }


    
  }
