.reviews {
    margin-top: 100px;
    position: relative;   
}

.reviews-container {
    max-width: 1216px; /* Максимальная ширина контейнера для отзывов */
    margin: 0 auto; /* Центрирование контейнера на странице */
    padding: 0 15px; /* Горизонтальные отступы */
}

.swiper {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-prev, .button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    z-index: 10;
    cursor: pointer;
}

.button-prev {
    left: -80px; /* Отступ от левого края */
}

.button-next {
    right: -80px; /* Отступ от правого края */
}

.swiper-button-next img,
.swiper-button-prev img {
    width: 30px; /* Размер иконок для кнопок */
    height: auto; /* Высота автоматически подстраивается */
}

.container-swiper {
    position: relative; /* Позиционирование относительно кнопок */
    margin-top: 100px; /* Отступ сверху для контейнера со слайдами */
}

.reviews-list-item {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #f6a8b5;
    max-width: 500px;
    width: 100%;
}

.reviews-name {
    display: flex;
    gap: 2%; /* Отступ между именем и оценками */
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.reviews-name h3 {
    font-size: 20px;
    font-family: Montserrat;
    font-weight: bold;
    color: #4E4E4E;
    margin-right: auto;
}

.reviews h2 {
    color: #4e4e4e;
    font-size: 55px;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    text-align: center;
}

.star-rating {
    display: flex;
    align-items: center;
    width: 20px;
}

.reviews-text p {
    font-size: 16px;
    font-family: Montserrat;
    color: #555;
    line-height: 1.5;
    margin-top: 10px;
}

@media (max-width: 1024px) {
    .reviews h2 {
        font-size: 50px; 
    }

    .reviews-name h3 {
        font-size: 18px;
    }
    
    .star-rating {
        width: 18px;
    }

    .reviews-list-item {
        padding: 18px;
    }
        
    .reviews-text p {
        font-size: 14px;
        margin-top: 8px;
    }

    .container-swiper {
        margin-top: 80px;
    }

    .button-prev {
        left: -60px; /* Изменено для более близкого размещения */
    }

    .button-next {
        right: -60px; /* Изменено для более близкого размещения */
    }
}

@media (max-width: 767px) {
    .reviews {
        margin-top: 80px;
    }

    .reviews h2 {
        font-size: 35px;
    }

    .reviews-name h3 {
        font-size: 16px;
    }
    
    .star-rating {
        width: 16px;
    }

    .reviews-list-item {
        width: 80%;
    }

    .container-swiper {
        margin-top: 60px;
    }
}

@media (max-width: 480px) {
    .reviews {
        margin-top: 30px;
    }

    .reviews h2 {
        font-size: 24px;
    }

    .reviews-name h3 {
        font-size: 14px;
    }
    
    .star-rating {
        width: 14px;
    }
    
    .reviews-text p {
        font-size: 12px;
        margin-top: 6px;
    }
    
    .reviews-list-item {
        width: 100%; /* Увеличено до 100% для мобильных устройств */
    }

    .container-swiper {
        margin-top: 30px;
    }

    .button-prev, .button-next {
        left: -30px;
        right: -30px;
    }
}
