.reviews{
    margin-top: 100px;
}

.reviews h2{
    color:#4e4e4e;
    font-size:55px;
    font-family:Montserrat Alternates;
    margin: 0;
    text-align: center;

}

.reviews-name{
    display: flex;   
}

.reviews-name img{
    margin-left: 15px;   
}

.reviews-list{
    display: flex;
}

.reviews-list-item{
    max-width: 300px;
    margin-top: 50px;
    padding: 30px;
}

.reviews-list-item h3{
    max-width: 300px;
    color:#f6a8b5;
    font-size:20px;
    font-family:Montserrat;
    margin: 0;
}

.reviews-list-item p{
    color:#4e4e4e;  
    font-size:20px;
    font-family:Montserrat;
    margin-top: 20px;
}

.review-btn{
    background-image: url('/img/left.svg');
    background-repeat: no-repeat;
    width: 65px;
    height: 70px;
    border: none;
    background-color: transparent;
}

.review-btn-right{
    background-image: url('/img/right.svg');
    background-repeat: no-repeat;
    width: 65px;
    height: 70px;
    border: none;
    background-color: transparent;
}

.reviews-content{
    display: flex;
    justify-content: center;
    align-items: center;
}